<!DOCTYPE html>
<html>
<body>
<h1>Site to showcase voting upward or downward</h1>
<p>Upvotes are going to be on display here >>>>>>>>>>:  <span id="countinguprn">0</span></p>
<p>Downvotes are going to be on display here >>>>>>>>>>:   <span id="countingdownrn">0</span></p>

<button id="upvote-btn">Upvote here</button>
<button id="downvote-btn">Downvote here by selecting this</button>

<script>
    async function updateCounts() {
        const res = await fetch('/total');
        const data = await res.json();
        document.getElementById('countinguprn').textContent =data.upvote;
        document.getElementById('countingdownrn').textContent =data.downvote;
    }

    document.getElementById('upvote-btn').onclick = async () => {
        const res = await fetch('/votingupward');
        const data = await res.json();
        document.getElementById('countinguprn').textContent =data.upvote;
        document.getElementById('countingdownrn').textContent= data.downvote;
    };

    document.getElementById('downvote-btn').onclick = async () => {
        const res = await fetch('/votingdownward');
        const data = await res.json();
        document.getElementById('countinguprn').textContent = data.upvote;
        document.getElementById('countingdownrn').textContent = data.downvote;
    };

    updateCounts();
</script>
</body>
</html>