h1{
    color:red
}
p{
    color:blue;
    font-size:20px
}
h2
{
    color:red;
    text-align: center;
}
body
{
    background-color: #d3d3d3;
    font-family: "Courier New", Courier, monospace;

}
.styledparagraph{
    color:green;
    font-size: medium;
}
#styledheading{
    text-decoration: underline;

}
a:hover{
    color: orange;
}
.pbordered{
    border: 2px solid black;
    padding:25px;

}
