<!doctype html>
<html>
  <body>
    <h1>Log of all those who visited</h1>

    <ul>
      {% for e in log %}
        <li>
          <strong>Visit {{ loop.index }}</strong>
          <ul>
            <li>Time: {{e.time}}</li>
            <li>IP: {{e.ip}}</li>
            <li>Agent: {{ e.agent }}</li>
            {% if e.since_last is none %}
              <li>Since Last: first visit</li>
            {% else %}
              <li>Since Last: {{e.since_last }} seconds since last</li>
            {% endif %}
          </ul>
        </li>
      {% endfor %}
    </ul>

    <a href="/home">Home</a>
  </body>
</html>
