<!DOCTYPE html>
<html>
<head>
  <title>Statspage</title>
</head>
<body>

  <p style="margin-bottom: 14px;">
    <a href="/">Click this right here to go back</a>
  </p>

  {% for c in characters %}
    <h2>Statistics for the character you picked ====>  {{ c['c_name'] }} </h2>

    <div style="margin: 10px;">
      <div>ID:{{ c['c_id'] }}</div>
      <div>Wit:{{ c['c_wit'] }}</div>
      <div>Strength: {{ c['c_strength'] }}</div>
      <div>Attack: {{ c['c_attack'] }}</div>
      <div>Defense: {{ c['c_defense'] }}</div>
      <div>Magic: {{ c['c_magic'] }}</div>
    </div>

    <hr>

   
    <form action="/updating_smth" method="POST">
     
      <input type="hidden" name="c_id" value="{{ c['c_id'] }}">

      <label>IF you need pls update the strength value using this thing below.....</label><br>
      <input type="text" name="f_strength" value="{{ c['c_strength'] }}">
      <input type="submit" value="Press this button in order to update the strength">
    </form>

  {% endfor %}

</body>
</html>